<!DOCTYPE html>
<html>
<head>
  <title>Receiver</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <h2>🟢 Receiver</h2>
  <button onclick="startReceiver()">Start Receiver</button>
  <div id="logs"></div>

  <script>
    function startReceiver() {
      fetch('/start-receiver', { method: 'POST' })
        .then(res => res.json())
        .then(data => alert(data.message));
    }

    function fetchLogs() {
      fetch('/api/receiver/logs')
        .then(res => res.json())
        .then(data => {
          const logs = data.logs.map(m => `<li>🧾 ${m.ciphertext} → ${m.decrypted}</li>`).join("");
          document.getElementById("logs").innerHTML = `<ul>${logs}</ul>`;
        });
    }

    setInterval(fetchLogs, 2000);
  </script>
</body>
</html>
